#home {
  background-color: black;
  overflow: hidden;
}


/* Search bar */
#search-container{
  text-align: center;
}

#search-input {
  width: 50%;
  text-align: center
}

#search-button {
  padding: 3px;
  margin: 10px;
  height: auto;
}


/* featured Movie Section */

.card {
  margin-top: 15px;
  background-color: black;
  border: 1px solid #a9c1a7;
  text-align: center;
}

.card-image {
  height: 340px;
  width: 200px;
  margin: 10px auto;
}

.card-title {
  text-align: center;
  color: #fff;
  font-family: 'Cinzel', serif;
}


/* ========================== */
  /* Movie Info Component */
/* ========================== */

#movie-title {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-family: 'Cinzel', serif;
}

#overview {
  padding-top: 200px;
  text-align: center;
  font-size: 25px;
}

#overview p {
  color: #fff;
}

#overview a {
  color: #fff
}










/* small tablet to big tablets in portrait/landscape mode: from 768px to 1023px */
@media only screen and (max-width: 1023px) {}

/* small phones to small tablets: from 481 to 767 pixels */
@media only screen and (max-width: 767px) {
  #overview {
    padding-top: 150px;
    font-size: 23px;
  }
}

/* small pnhones from 0 to 480px */
@media only screen and (max-width: 480px) {
  #overview {
    padding-top: 100px;
    font-size: 20px;
  }
}