html {
  background-color: black;
}
body {
  font-family: Cinzel serif;
}
.error {
  color: #e00b1f
}

#home h1 {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 380;
}

#not-found {
  margin-top: 250px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#not-found i {
  margin-right: 7px;
}


#home {
  background-color: black;
  overflow: hidden;
}

#home h1 {
  font-size: 60px;
  color: #ffe000;
  font-family: 'Cinzel', serif;
  font-weight: 900;
}

.sort:hover{
  cursor: pointer;
}
.sort p {
  padding-top: 9px;
}

.dropdown {
  padding-left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
}

.dropdown li {
  display: block !important;
  list-style: none;
  margin: 0px auto;
}

.dropdown p {
  padding-top: 9px;
}

.sort:hover > ul,
.sort:focus-within > ul,
.dropdown:hover
 {
  visibility: visible;
  opacity: 1;
  display: block;
}


/* footer home */
footer {
  height: 200px;
}

footer .container-fluid {
  text-align: center;
}

footer .box {
  height: 200px;
  border: 2px solid #a9c1a7;
  color: #fff;
}

footer .box p {
  margin-top: 50px;
  font-size: 22px;
}

footer img {
  padding-top: 18px;
}


#movie-container a {
  text-decoration: none;
}

#movie-container {
  padding-bottom: 90px;
}

#movie-container #section {
  text-align: center;
}

.hover-effect {
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}

.hover-effect::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #a9c1a7;
  opacity: 0;
  transition: .3s;
}

.hover-effect:hover::after {
  bottom: 0;
  opacity: 1;
  }

.hover-effect:hover {
  color: #a9c1a7 !important;
}

.nav-item {
  padding-top: 9px;
}

.nav-item a{
  /* text-decoration: none; */
  color: rgba(255,255,255,.5);
  padding-top: 9px;
}

.nav-item a:hover::after { 
   bottom: -7px !important; 
 }


/* Search bar */
#search-container{
  text-align: center;
  padding-top: 30px;
}

#search-input {
  width: 50%;
  text-align: center
}

#search-button {
  padding: 3px;
  margin: 10px;
  height: auto;
}


/* featured Movie Section */

.card {
  margin-top: 15px;
  background-color: black;
  border: 1px solid #a9c1a7;
  text-align: center;
}

.card-image {
  /* height: 340px;
  width: 200px; */
  width: 65%;
  margin: 10px auto;
}

.card-title {
  text-align: center;
  color: #fff;
  font-family: 'Cinzel', serif;
}

.plus-button {
  font-size: 32px;
  color: #07f186;
  float: right;
  transition: all .2s ease-in-out;
}

.plus-button:hover {
  cursor: pointer;
  color: rgb(255 249 0) !important;
  transform: scale(1.1); 
}

#home .success-saved {
  background-color: rgb(0, 222, 150);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  margin: 10px;
  position: inherit;
  animation: fade 2s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ========================== */
  /* Movie Info Component */
/* ========================== */

#movie-title {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-family: 'Cinzel', serif;
}

#overview {
  padding-top: 200px;
  text-align: center;
  font-size: 25px;
}

#overview p {
  font-family:  'Merriweather', serif;
  color: #fff;
}

#overview i {
  color: #fff
}

.point {
  cursor: pointer;
}

.see-more-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.see-more-box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.see-more-box span:nth-child(2) {
	animation-delay: -0.2s;
}

.see-more-box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

.trailer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.trailer h2{
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Cinzel', serif;
}

.trailer hr {
  border-bottom: 1px solid black;
}

.trailer .iframe {
  /* padding-top: 50px; */
  margin-top: 40px;
  width: 640px;
  height: 316px;
}

.similar {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: black;
}

.similar h2 {
  color: #fff;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Cinzel', serif;
}

.similar hr {
  border-bottom: 1px solid #fff;
}
.similar a {
  text-decoration: none;
}


.recommended {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.recommended  h2 {
  color: black;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Cinzel', serif;
}

.recommended hr {
  border-bottom: 1px solid black;
}

.recommended a {
  text-decoration: none;
}


.recommended .card {
  background-color: white;
  border-color: black;
}

.recommended .card-title{
  color: black;
}




/* ========================  */ 
/*      Movie Search        */
/* ======================= */
#search-movie-container {
 background-color: black;
 /* text-align: center; */
 padding-bottom: 70px;
}

#search-movie-container h1 {
  padding-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: 'Cinzel', serif;
}

#search-movie-container a {
  text-decoration: none;
}

#search-movie-container {
  padding-bottom: 90px;
}

#search-movie-container h4 {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}

#search-movie-container h4::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #a9c1a7;
  opacity: 0;
  transition: .3s;
}

#search-movie-container h4:hover::after {
  bottom: 0;
  opacity: 1;
  }

#search-movie-container h4:hover {
  color: #a9c1a7
}

/* ========================= */
/*         Actors            */
/* ========================= */
.popular-actors {
  background-color: black;
}
.popular-actors-form {
  text-align: center;
}

.popular-actors-form input{
  width: 50%;
  text-align: center;
}

.popular-actors h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
  color: #fff;
}

.popular-actors a {
  text-decoration: none;
}

.my-navbar .navbar-brand {
  font-family: Cinzel serif;
  color: #ffe000;
  font-size: 30px;
}

/* ========================= */
/*    Actors MoreInfo           */
/* ========================= */
#actor-more-info {
  background-color: black;
}

#actor-more-info .card{
  margin-top: 15px
}

#actor-bio {
  color: #fff;
  padding-top: 40px;
  font-family: Merriweather sans-serif;
  font-size: 22px;
}

#featured-movies {
  padding-top: 50px;
}

#featured-movies a{
  text-decoration: none;
}

#featured-movies h1{
  text-align: center;
  color: #fff;
}

#featured-movies hr{
  background-color: #fff;
}

/* ==================== */
/*    Search Actor     */
/* =================== */

.search-actor-container {
  background-color: black;
}

.search-actor-container .container{
  text-align: center;
  color: #fff
}

.search-actor-container h1{
  padding-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: 'Cinzel', serif;
}

.search-actor-container a{
  text-decoration: none;
}

/* ==================== */
/*    UserProfile     */
/* =================== */

#user-profile {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0,0,0,0.15) 130%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 height: 100%;
 text-align: center;
 padding-bottom: 60px;
}


#user-profile h1 {
  color: white;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Cinzel', serif;
}

#user-profile h2 {
  color: white;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Cinzel', serif;
}

.user-favMovies hr {
  border-bottom: 1px solid #fff;
}

/* big tablets to 1200px: widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
}


/* small tablet to big tablets in portrait/landscape mode: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

  footer .box p {
    margin-top: 30px;
    /* font-size: 20px; */
  }
}

/* small phones to small tablets: from 481 to 767 pixels */
@media only screen and (max-width: 767px) {

  .recommended  h2 {
    font-size: 40px;
  }

#movie-title {
  font-size: 40px;
}

#overview {
  padding-top: 90px;
  font-size: 20px;
}
/* 560 X 315 */
  
.trailer .iframe {
  width: 90%;
}

  footer .box {
    height: 100px;
  }

  footer .box p {
    margin-top: 10px;
    font-size: 20px;
  }

  footer img {
    width: 230px;
    padding-top: 9px;
  }

  #featured-movies {
    padding-top: 20px;
  }
  
  #actor-bio {
    font-size: 20px;
  }
}

/* small pnhones from 0 to 480px */
@media only screen and (max-width: 480px) {
  .recommended  h2 {
    font-size: 26px;
  }
  
  #overview {
    padding-top: 100px;
    font-size: 20px;
  }

  #user-profile h1 {
    font-size: 33px;
  }

  #user-profile h2 {
    font-size: 30px;
  }

  footer .box p {
    margin-top: 10px;
    font-size: 15px;
  }

  footer img {
    width: 230px
  }
}