#home {
  background-color: black;
  overflow: hidden;
}


/* Search bar */
#search-container{
  text-align: center;
}

#search-input {
  width: 50%;
  text-align: center
}

#search-button {
  padding: 3px;
  margin: 10px;
  height: auto;
}


/* featured Movie Section */

.card {
  margin-top: 15px;
  background-color: black;
  border: 1px solid #a9c1a7;
  text-align: center;
}

.card-image {
  height: 340px;
  width: 200px;
  margin: 10px auto;
}

.card-title {
  text-align: center;
  color: #fff;
  font-family: 'Cinzel', serif;
}


/* ========================== */
  /* Movie Info Component */
/* ========================== */

#movie-title {
  text-align: center;
  padding-top: 450px;
  font-size: 100px;
  color: #fff;
  font-family: 'Cinzel', serif;
}

#overview {
  text-align: center;
  font-size: 30px;
}

#overview p {
  color: #fff;
}